 body {
     margin-top: 50px;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 .card {
     background-color: black;
     width: 1, 300px;
     height: 545px;
     display: flex;
     align-items: center;
     gap: 53px;
     padding: 40px;
     border-radius: 32px;
 }
 
 .card-content {}
 
 .badge {
     background-color: #191919;
     color: white;
     font-size: 17px;
     font-weight: 400;
     line-height: 27px;
     width: fit-content;
     padding: 0 16px;
     border-radius: 6px;
     margin-bottom: 48.44;
 }
 
 .episode {
     color: #118da8;
     font-size: 17px;
     font-weight: 400;
     line-height: 27px;
     margin-bottom: 17px;
 }
 
 .title {
     font-weight: 400;
     font-size: 64px;
     line-height: 70.4px;
     color: #fff;
     margin-bottom: 28px;
 }
 
 .subtitle {
     font-weight: 400;
     color: #FFFFFFB2;
     font-size: 22px;
     line-height: 33px;
     margin-bottom: 18px;
 }
 
 .button {
     background-color: #118da8;
     font-size: 18px;
     font-weight: 400;
     line-height: 27px;
     color: #fff;
     border: none;
     border-radius: 6px;
     padding: 12px 15px 12px 20px;
 }
 
 .card1 {
     padding: 20px 20px 30px 20px;
     background-color: #E1EDE6;
     width: fit-content;
 }
 
 .badge1 {
     color: #86928B;
     font-size: 16px;
     font-weight: 500;
     line-height: 100%;
     margin-bottom: 10px;
     margin-top: 20px;
 }
 
 .episode1 {
     color: #2C2D35;
     font-weight: 500;
     font-size: 24px;
     list-style: 100%;
     margin-bottom: 8px;
 }
 
 .title1 {
     color: #2C2D35;
     font-weight: 500;
     font-size: 16px;
     list-style: 100%;
     margin-bottom: 30px;
 }
 
 .subtitle1 {
     color: #598D66;
     font-weight: 500px;
     font-size: 20px;
     line-height: 100%;
     margin-bottom: 20px;
 }
 
 .button1 {
     border: 1px solid #598D66;
     color: #598D66;
     background-color: transparent;
     font-weight: 500;
     font-size: 18px;
     line-height: 100%;
     text-align: center;
     width: 250px;
     height: 50px;
 }
 
 .card3 {
     width: 380px;
 }
 
 .box1 {
     padding: 50px 89px 50px 44px;
     border: 1px solid #F2F6FA;
     width: 380px;
 }
 
 .name {
     color: #2e363e;
     font-weight: 700;
     font-size: 24px;
     line-height: 143%;
     margin-bottom: 12px;
 }
 
 .sostav {
     color: #2e363e;
     font-weight: 700;
     font-size: 16px;
     line-height: 150%;
     margin-bottom: 24px;
     width: 240px;
 }
 
 .price {
     color: #434b53;
     font-weight: 500;
     font-size: 24px;
     line-height: 150%;
     margin-bottom: 14px;
 }
 
 .button3 {
     background-color: #fed84c;
     font-weight: 500;
     font-size: 18px;
     line-height: 152%;
     border-radius: 8px;
     border: none;
     padding: 20px 40px;
 }
 
 .image {
     padding: 20px 20px 20px 15px;
 }
 
 .card4 {
     width: 330px;
     height: 400px;
     background-color: #0C0B15;
     border-radius: 8px;
 }
 
 .img {
     display: flex;
     padding: 21px 27px 23px;
 }
 
 .s {
     margin-left: 191.79px;
 }
 
 .name1 {
     color: white;
     font-size: 22px;
     font-weight: 600;
     line-height: 27px;
     margin-left: 26.5px;
 }
 
 .sostav1 {
     color: #809FB8;
     font-size: 18px;
     font-weight: 600;
     line-height: 22px;
     margin-left: 26.5px;
     margin-top: 24.37px;
 }
 
 .a {
     color: #809FB8;
     font-size: 16px;
     font-weight: 600;
     line-height: 21px;
     margin-left: 26.5px;
     margin-top: 24.37px;
     width: 260px;
     font-family: Arial, Helvetica, sans-serif;
 }